/* * {
    background-color: purple;
}

.myCircle {
    stroke-width: 6px;
    stroke: orange;
} */
/* .myCircle {
    border-color: orange;
    border-width: 6px;  
} */
/* .myCircle {
    outline: orange;
    outline-width: 6px;
} */

/* body {
    font-family: Arial;
    font-size: 10px;
}
header {
    font-size: 26px;
    color: red;
}
h1 {
    font-family: 'Times New Roman';
    color: blue;
}
.program {
    color: green;
}

.first {
    position: absolute;
    z-index: 5;
    font-size: 20px;
    background-color: aqua;
}
.second {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    background-color: aquamarine;
} */
/* .first {
    z-index: 20;
} */

/* .container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(100, 100, 100, .5);
    padding: 25px;
}

.box {
    background-color: white;
    padding: 50px;
    margin: 10px;
    border-radius: 20px 0;
} */

/* h1 ~ p {
    color: green;
} */

/* body {
    font-size: 18px;
}
h1 {
    font-size: 36px;
} */

/* footer {
    width: 1024px;
    padding: 20px 10px 30px 10px;
    border: 2px solid black;
    box-sizing: content-box;
} */

/* li {
    border-bottom: 1px dotted tomato;
}

li:nth-child(1) {
    border-bottom: none;
} */

/* h1 {
    color: green;
}
.title {
    color: orange;
}
#headline {
    color: blue;
} */
/* 
header {
    text-align: center;
}
li {
    float: left;
}
ul {
    display: inline-block;
} */

/* .row {
    border: 1px dotted;
}
.primary {
    float: left;
}
.secondary {
    float: right;
} */
/* 
.icon {
    position: relative ;
    top: 20px;
    left: 50%;
} */

/* .card {
    position: static;
} */

tr:nth-of-type(2n) {
    background-color: rgb(255,130,100);
}